@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <header>header</header>
    <div id="main">
        <div id="left-column">left column</div>
        <div id="center-column">
            <button id="values">Get tweets</button>
            <div id="output"></div>
        </div>
        <div id="right-column">right column</div>
    </div>
    <footer>footer</footer>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
    $(function() {
        $("#values").click(function(e) {
            e.preventDefault();
            $.get("/api/tweets").done(function (data) {
                let values = data;
                let $output = $("#output");
                $output.html("");
                values.forEach(function(v) {
                    $output.append("<div class=\"post\">" + v + "</div>");
                });
                
                
            });
        });
    });
</script>
</body>
</html>