@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/registerForm.css">
</head>
<body>
     <header>		
		<img class="logo" src="img/Pineapple.png">
		<div class="logo-header">  Pineapple</div>
		<div class="small-header">Log in</div>
         <button class="button" id="SignUp">Sign up</button>
    </header>
    <div class="main">
        <div class="left-column">
			<div class="medium-header">Home</div>
			<div class="medium-header">Search</div>
			<div class="medium-header">About</div>
		</div>
        <div class="center-column">
            <div class="output" id="feed">
			</div>
        </div>	
        <div class="right-column">
			<img class="avatar" src="img/avatar.png"> 
			<div class="medium-header">
				User Name
			</div>
		</div>
    </div>
	<button class="get-tweet" id="BTNGetTweets">Get tweets</button>
	<textarea rows="1" cols="1" class="textInput"></textarea>
	<button class="add-tweet">Add tweet</button>
    <div class="blackout hidden" id="blackout-register">
        <button class="blackout-close" id="blackout-close-register"></button>
        <div class="wrapper">
            <div class="wrapper-two">
                <form class="register-form" id="registerForm">
                    <p>Registration</p>
                    <input type="text" class="input-area" id="Nick" placeholder="Nick*" required/>
                    <input type="text" class="input-area" id="Name" placeholder="Name*" required/>
                    <input type="text" class="input-area" id="SName" placeholder="Second name"/>
                    <input type="email" class="input-area" id="EMail" placeholder="E-Mail*" required/>
                    <input type="password" class="input-area" id="Pass" placeholder="Password*" required />
                    <input type="password" class="input-area" id="RPass" placeholder="Repeat password*" required />
                    <label class="register-label">
                        <input type="checkbox" class="checkbox" required/>
                        <span class="register-checkbox"></span>
                        <span class="label-text">I agree with something</span>
                    </label>
                    <input type="submit" class="button register-apply" id="register-apply" value="Sign up"/>
                    <input type="button" class="button register-cancel"  id="register-cancel" value="Cancel" />
                </form>
            </div>
        </div>
    </div>
    <div class="blackout hidden" id="blackout-message">
        <button class="blackout-close" id="blackout-close-message"></button>
        <div class="wrapper">
            <div class="wrapper-two">
                <div class="message-window">
                    <p id="messageHead"></p>
                    <p id="message"></p>   
                </div>
            </div>
        </div>
    </div>
    <footer>
	</footer>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
    $(function() {
        $("#BTNGetTweets").click(function(e) {
            e.preventDefault();
            $.get("/api/tweets").done(function (data) {
                let values = data;
                let $feed = $("#feed");
                $feed.html("");
                values.forEach(function(v) {
                    $feed.append("<div class=\"feed\">" + v + "</div>");
                });
            });
        });

        $("#SignUp").click(function (e) {
            $("#blackout-register").removeClass("hidden");
            $("#blackout-register").addClass("active");
        });

        $("#blackout-close-register").click(function (e) {
            $("#blackout-register").removeClass("active");
            setTimeout(function () { $("#blackout-register").addClass("hidden");}, 600);
        });
        $("#register-cancel").click(function (e) {
            $("#blackout-register").removeClass("active");
            setTimeout(function () { $("#blackout-register").addClass("hidden"); }, 600);
        });

        $("#registerForm").submit(function (e) {

            $("#messageHead").html("Successful registration");
            $("#message").html("You have been successfully registered (but it is not).");

            $("#blackout-register").removeClass("active");
            setTimeout(function () {
                $("#blackout-register").addClass("hidden");
                $("#blackout-message").removeClass("hidden");
                $("#blackout-message").addClass("active");
            }, 600);

            return false;
        });

        $("#blackout-close-message").click(function (e) {
            $("#blackout-message").removeClass("active");
            setTimeout(function () { $("#blackout-message").addClass("hidden"); }, 600);
        });
    });
</script>
</body>
</html>