@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

    <header>

        <img class="logo" src="img/Pineapple.png">
        <div class="logo-header">  Pineapple</div>
        <button class="log-in" id="login">Log in</button>

    </header>

    <div class="main">
        <div class="left-column">
            <div class="medium-header">Home</div>
            <div class="medium-header">Search</div>
            <div class="medium-header">About</div>
        </div>


        <div class="center-column">
            <div class="output" id="feed">
            </div>
        </div>


        <div class="right-column">
            <img class="avatar" src="img/avatar.png">
            <div class="medium-header">
                User Name
            </div>
        </div>
    </div>

    <button class="get-tweet" id="BTNGetTweets">Get tweets</button>
    <textarea rows="1" cols="1" class="textInput"></textarea>
    <button class="add-tweet">Add tweet</button>

    <div id="modal_form">
        <div class="form-control">
            <input type="text" name="login" id="username" tabindex="1" placeholder="Login">
        </div>
        <div class="form-control">
            <input type="text" name="password" id="password" tabindex="2" placeholder="Password">
        </div>
        <div>
            <input class="login" id="login1" type="button" value="Login" />
        </div>
        <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
        <!-- Тут любoе сoдержимoе -->
    </div>

    <div id="overlay"></div>

    <footer></footer>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script>
        $(function () {
            $("#BTNGetTweets").click(function (e) {
                e.preventDefault();
                $.get("/api/tweets").done(function (data) {
                    let values = data;
                    let $feed = $("#feed");
                    $feed.html("");
                    values.forEach(function (v) {
                        $feed.append("<div class=\"feed\">" + v + "</div>");
                    });
                });
            });
        });

        $(document).ready(function () {
            $('#login').click(function (event) {
                event.preventDefault();
                $('#overlay').fadeIn(400,
                    function () {
                        $('#modal_form')
                            .css('display', 'block')
                            .animate({ opacity: 1, top: '50%' }, 200);
                    });
            });

            $('#modal_close, #overlay').click(function () {
                $('#modal_form')
                    .animate({ opacity: 0, top: '45%' }, 200,
                    function () {
                        $(this).css('display', 'none');
                        $('#overlay').fadeOut(400);
                    }
                    );
            });
        });
    </script>
</body>
</html>