@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

     <header>
			<img class="logo" src="img/Pineapple.png">
			<div class="HL">  Pineapple</div>
			<div class="H1">Log in</div>
    </header>

    <div class="main">
        <div class="left-column">
			<div class="H2">Home</div>
			<div class="H2">Search</div>
			<div class="H2">About</div>
		</div>

        <div class="center-column">
            <div class="output" id="output">
			</div>
        </div>
		
        <div class="right-column">
			<img class="avatar" src="img\avatar.png"> 
			<div class="H2">
				User Name
			</div>
		</div>
		
    </div>
    <footer>
		<button class="getButton" id="values">Get tweets</button>
		<textarea rows="1" cols="1" class="textInput"></textarea>
		<button class="setButton">Add tweet</button>
	</footer>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
    $(function() {
        $("#values").click(function(e) {
            e.preventDefault();
            $.get("/api/tweets").done(function (data) {
                let values = data;
                let $output = $("#output");
                $output.html("");
                values.forEach(function(v) {
                    $output.append("<div class=\"post\">" + v + "</div>");
                });
            });
        });
    });
</script>
</body>
</html>