@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

     <header>
			
			<img class="logo" src="img/Pineapple.png">
			<div class="LogoHeader">  Pineapple</div>
			<div class="SmallHeader">Log in</div>

    </header>

    <div class="main">
        <div class="left-column">
			<div class="MediumHeader">Home</div>
			<div class="MediumHeader">Search</div>
			<div class="MediumHeader">About</div>
		</div>
		
		
        <div class="center-column">
            <div class="output" id="feed">
			</div>
        </div>
		
		
        <div class="right-column">
			<img class="avatar" src="img/avatar.png"> 
			<div class="MediumHeader">
				User Name
			</div>
		</div>
    </div>
	
	<button class="get-tweet" id="BTNGetTweets">Get tweets</button>
		<textarea rows="1" cols="1" class="textInput"></textarea>
		<button class="add-tweet">Add tweet</button>
    <footer>
		
	</footer>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
    $(function() {
        $("#BTNGetTweets").click(function(e) {
            e.preventDefault();
            $.get("/api/tweets").done(function (data) {
                let values = data;
                let $feed = $("#feed");
                $feed.html("");
                values.forEach(function(v) {
                    $feed.append("<div class=\"feed\">" + v + "</div>");
                });
            });
        });
    });
</script>
</body>
</html>