<header>
    <div class="logo-wrapper">
        <img class="logo" src="img/Pineapple.png">
        <div class="logo-header">  Pineapple</div>
    </div>
    <div>
        <button class="button" id="LogIn">Log in</button>
        <button class="button" id="SignUp">Sign up</button>
    </div>
</header>
<div class="info">You are on the our main page of Pineapple project — replica of twitter. Register, authorize and share the new around you!</div>
<div class="blackout hidden" id="blackout-login">
    <button class="blackout-close" id="blackout-close-login"></button>
    <form class="modal-window" id="loginForm">
        <p>Autorization</p>
        <label for="loginNickname" class="form-label">Nickname*</label>
        <input type="text" name="nickname" class="input-area" id="loginNickname" placeholder="Type your nickname" required />
        <label for="loginPass" class="form-label">Password*</label>
        <input type="password" name="password" class="input-area" id="loginPass" placeholder="Type your password" required />
        <div class="login-error" id="loginError"></div>
        <div class="login-button-wrapper">
            <div class="login-button">
                <input type="submit" class="button load-button" id="login-apply" value="Log in" />
                <div id="loadLogButton"></div>
            </div>
            <input type="button" class="button login-button" id="login-cancel" value="Cancel" />
        </div>
    </form>
</div>
<div class="blackout hidden" id="blackout-register">
    <button class="blackout-close" id="blackout-close-register"></button>
    <form class="modal-window" id="registerForm">
        <p>Registration</p>
        <div class="info-container">
            <label for="Nickname" class="form-label">Nickname*</label>
            <div class="error-info"></div>
        </div>
        <input type="text" name="nickname" class="input-area" id="Nickname" placeholder="Type your nickname" required />
        <div class="info-container">
            <label for="Name" class="form-label">First name</label>
            <div class="error-info"></div>
        </div>
        <input type="text" name="firstName" class="input-area" id="Name" placeholder="Type your first name" />
        <div class="info-container">
            <label for="LName" class="form-label">Last name</label>
            <div class="error-info"></div>
        </div>
        <input type="text" name="lastName" class="input-area" id="LName" placeholder="Type your last name" />
        <div class="info-container">
            <label for="EMail" class="form-label">E-Mail*</label>
            <div class="error-info"></div>
        </div>
        <input type="email" name="email" class="input-area" id="EMail" placeholder="Type your e-Mail" required />
        <div class="info-container">
            <label for="Pass" class="form-label">Password*</label>
            <div class="error-info"></div>
        </div>
        <input type="password" name="password" class="input-area" id="Pass" placeholder="Type your password" required />
        <div class="info-container">
            <label for="RPass" class="form-label">Repeat password*</label>
            <div class="error-info"></div>
        </div>
        <input type="password" name="rPassword" class="input-area" id="RPass" placeholder="Repeat your password" required />

        <div class="register-button-wrapper">
            <div class="register-button">
                <input type="submit" class="button load-button" id="register-apply" value="Sign up" />
                <div id="loadRegButton"></div>
            </div>
            <input type="button" class="button register-button" id="register-cancel" value="Cancel" />
        </div>
    </form>
</div>
<div class="blackout hidden" id="blackout-message">
    <button class="blackout-close" id="blackout-close-message"></button>
    <div class="modal-window">
        <p id="messageHead"></p>
        <p id="message"></p>
    </div>
</div>
<footer>© 2018 Pineapple, Inc.</footer>
<script>
        $(function () {

            $('#LogIn').click(function (event) {
                $("#blackout-login").removeClass("hidden");
                $("#blackout-login").addClass("active");
            });

            $("#blackout-close-login, #login-cancel").click(function (e) {
                $("#blackout-login").removeClass("active");
                setTimeout(function () {
                    $("#blackout-login").addClass("hidden");
                    $("#loginError").html("");
                }, 600);
            });

            $('#login-apply').click(function () {

                var dataType = 'application/x-www-form-urlencoded; charset=utf-8';
                var data = $("#loginForm").serialize();

                $("#loadLogButton").html('<div class="cssload-container"><div class="cssload-whirlpool"></div></div>');

                $.post("api/auth", data, function (response) {

                    $("#loadLogButton").html('');

                    if (response.status == true) {
                        $("#logo").removeClass("hidden");
                        $("#logo").removeClass("close");
                        $.get("/Page", function (resp) {
                            $("#pageContainer").html(resp);
                            $("#logo").addClass("close");
                            setTimeout(function () { $("#logo").addClass("hidden"); }, 600);
                        });
                    } else {
                        $("#loginError").html(response.error);
                    }
                });

                return false;
            });

            $("#SignUp").click(function (e) {
                $("#blackout-register").removeClass("hidden");
                $("#blackout-register").addClass("active");
            });

            $("#blackout-close-register, #register-cancel").click(function (e) {
                $("#blackout-register").removeClass("active");
                setTimeout(function () {
                    $("#blackout-register").addClass("hidden");
                    $(".input-area").removeClass("right wrong");
                    $(".error-info").text("");
                }, 600);
            });

            $("#registerForm").submit(function (e) {

                var dataType = 'application/x-www-form-urlencoded; charset=utf-8';
                var data = $("#registerForm").serialize();

                $(".input-area").removeClass("right wrong");
                $(".error-info").text("");

                $("#loadRegButton").html('<div class="cssload-container"><div class="cssload-whirlpool"></div></div>');

                $.post("/api/user/register", data, function (response) {

                    var error = document.getElementsByClassName("error-info");

                    if (response.nickname == "true") {
                        $("#Nickname").addClass("right");
                    } else {
                        $("#Nickname").addClass("wrong");
                        error[0].innerHTML = response.nickname;
                    }

                    if (response.firstName == "true") {
                        $("#Name").addClass("right");
                    } else {
                        $("#Name").addClass("wrong");
                        error[1].innerHTML = response.firstName;
                    }

                    if (response.lastName == "true") {
                        $("#LName").addClass("right");
                    } else {
                        $("#LName").addClass("wrong");
                        error[2].innerHTML = response.lastName;
                    }

                    if (response.email == "true") {
                        $("#EMail").addClass("right");
                    } else {
                        $("#EMail").addClass("wrong");
                        error[3].innerHTML = response.email;
                    }

                    if (response.password == "true") {
                        $("#Pass").addClass("right");
                    } else {
                        $("#Pass").addClass("wrong");
                        error[4].innerHTML = response.password;
                    }

                    if (response.rPassword == "true") {
                        $("#RPass").addClass("right");
                    } else {
                        $("#RPass").addClass("wrong");
                        error[5].innerHTML = response.rPassword;
                    }

                    if (response.status != null) {

                        if (response.status == "true") {
                            $("#messageHead").html("Successful registration");
                            $("#message").html("You have been successfully registered.");
                        } else {
                            $("#messageHead").html("Someone is wrong");
                            $("#message").html(response.status);
                        }

                        $("#blackout-register").removeClass("active");
                        setTimeout(function () {
                            $("#blackout-register").addClass("hidden");
                            $("#blackout-message").removeClass("hidden");
                            $("#blackout-message").addClass("active");

                            $(".input-area").removeClass("right wrong");
                            $(".error-info").text("");
                        }, 600);
                    }
                    $("#loadRegButton").html('');

                }, "json");

                return false;
            });

            $(".input-area").focus(function (e) {
                $(this).removeClass("right wrong");
                document.getElementsByClassName("error-info")[$(this).index() / 2 - 1].innerHTML = "";
            });

            $("#blackout-close-message").click(function (e) {
                $("#blackout-message").removeClass("active");
                setTimeout(function () { $("#blackout-message").addClass("hidden"); }, 600);
            });
        });
</script>