<header>
    <div class="logo-wrapper">
        <img class="logo" src="img/Pineapple.png">
        <div class="logo-header">  Pineapple</div>
    </div>
    <div>
        <button class="button" id="login">Log in</button>
        <button class="button" id="SignUp">Sign up</button>
    </div>
</header>

<div class="info">You are on the our main page of Pineapple project — replica of twitter. Register, authorize and share the new around you!</div>

<div id="modal_form">
    <div class="form-control">
        <input type="text" name="login" id="username" tabindex="1" placeholder="Login">
    </div>
    <div class="form-control">
        <input type="text" name="password" id="password" tabindex="2" placeholder="Password">
    </div>
    <div>
        <input class="login" id="login1" type="button" value="Login" />
    </div>
    <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
    <!-- Тут любoе сoдержимoе -->
</div>

<div id="overlay"></div>

<div class="blackout hidden" id="blackout-register">
    <button class="blackout-close" id="blackout-close-register"></button>
    <div class="wrapper">
        <div class="wrapper-two">
            <form class="register-form" id="registerForm">
                <p>Registration</p>
                <div class="info-container">
                    <label for="Nick" class="register-label">Nickname*</label>
                    <div class="error-info"></div>
                </div>
                <input type="text" name="nick" class="input-area" id="Nick" placeholder="Type your nickname" required />
                <div class="info-container">
                    <label for="Name" class="register-label">First name</label>
                    <div class="error-info"></div>
                </div>
                <input type="text" name="firstName" class="input-area" id="Name" placeholder="Type your name" />
                <div class="info-container">
                    <label for="SName" class="register-label">Second name</label>
                    <div class="error-info"></div>
                </div>
                <input type="text" name="secondName" class="input-area" id="SName" placeholder="Type your second name" />
                <div class="info-container">
                    <label for="EMail" class="register-label">E-Mail*</label>
                    <div class="error-info"></div>
                </div>
                <input type="email" name="email" class="input-area" id="EMail" placeholder="Type your e-Mail" required />
                <div class="info-container">
                    <label for="Pass" class="register-label">Password*</label>
                    <div class="error-info"></div>
                </div>
                <input type="password" name="password" class="input-area" id="Pass" placeholder="Type your password" required />
                <div class="info-container">
                    <label for="RPass" class="register-label">Repeat password*</label>
                    <div class="error-info"></div>
                </div>
                <input type="password" name="rPassword" class="input-area" id="RPass" placeholder="Repeat your password" required />

                <div class="register-button-wrapper">
                    <div class="register-button">
                        <input type="submit" class="button load-button" id="register-apply" value="Sign up" />
                        <div id="loadRegButton"></div>
                    </div>
                    <input type="button" class="button register-button" id="register-cancel" value="Cancel" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="blackout hidden" id="blackout-message">
    <button class="blackout-close" id="blackout-close-message"></button>
    <div class="wrapper">
        <div class="wrapper-two">
            <div class="message-window">
                <p id="messageHead"></p>
                <p id="message"></p>
            </div>
        </div>
    </div>
</div>
<footer>© 2018 Pineapple, Inc.</footer>
<script>
        $(function () {

            $("#SignUp").click(function (e) {
                $("#blackout-register").removeClass("hidden");
                $("#blackout-register").addClass("active");
            });

            $("#blackout-close-register").click(function (e) {
                $("#blackout-register").removeClass("active");
                setTimeout(function () {
                    $("#blackout-register").addClass("hidden");
                    $(".input-area").removeClass("right wrong");
                    $(".error-info").text("");
                }, 600);
            });
            $("#register-cancel").click(function (e) {
                $("#blackout-register").removeClass("active");
                setTimeout(function () {
                    $("#blackout-register").addClass("hidden");
                    $(".input-area").removeClass("right wrong");
                    $(".error-info").text("");
                }, 600);
            });

            $("#registerForm").submit(function (e) {

                var dataType = 'application/x-www-form-urlencoded; charset=utf-8';
                var data = $("#registerForm").serialize();

                $(".input-area").removeClass("right wrong");
                $(".error-info").text("");

                $("#loadRegButton").html('<div class="cssload-container"><div class="cssload-whirlpool"></div></div>');

                $.post("/api/register", data, function (response) {

                    var error = document.getElementsByClassName("error-info");

                    if (response.nick == "true") {
                        $("#Nick").addClass("right");
                    } else {
                        $("#Nick").addClass("wrong");
                        error[0].innerHTML = response.nick;
                    }

                    if (response.firstName == "true") {
                        $("#Name").addClass("right");
                    } else {
                        $("#Name").addClass("wrong");
                        error[1].innerHTML = response.firstName;
                    }

                    if (response.secondName == "true") {
                        $("#SName").addClass("right");
                    } else {
                        $("#SName").addClass("wrong");
                        error[2].innerHTML = response.secondName;
                    }

                    if (response.email == "true") {
                        $("#EMail").addClass("right");
                    } else {
                        $("#EMail").addClass("wrong");
                        error[3].innerHTML = response.email;
                    }

                    if (response.password == "true") {
                        $("#Pass").addClass("right");
                    } else {
                        $("#Pass").addClass("wrong");
                        error[4].innerHTML = response.password;
                    }

                    if (response.rPassword == "true") {
                        $("#RPass").addClass("right");
                    } else {
                        $("#RPass").addClass("wrong");
                        error[5].innerHTML = response.rPassword;
                    }

                    if (response.status != null) {

                        if (response.status == "true") {
                            $("#messageHead").html("Successful registration");
                            $("#message").html("You have been successfully registered.");
                        } else {
                            $("#messageHead").html("Someone is wrong");
                            $("#message").html(response.status);
                        }

                        $("#blackout-register").removeClass("active");
                        setTimeout(function () {
                            $("#blackout-register").addClass("hidden");
                            $("#blackout-message").removeClass("hidden");
                            $("#blackout-message").addClass("active");

                            $(".input-area").removeClass("right wrong");
                            $(".error-info").text("");
                        }, 600);
                    }
                    $("#loadRegButton").html('');

                }, "json");

                return false;
            });

            $(".input-area").focus(function (e) {
                $(this).removeClass("right wrong");
                document.getElementsByClassName("error-info")[$(this).index() / 2 - 1].innerHTML = "";
            });

            $("#blackout-close-message").click(function (e) {
                $("#blackout-message").removeClass("active");
                setTimeout(function () { $("#blackout-message").addClass("hidden"); }, 600);
            });
        });

        $(document).ready(function () {
            $('#login').click(function (event) {
                event.preventDefault();
                $('#overlay').fadeIn(400,
                    function () {
                        $('#modal_form')
                            .css('display', 'block')
                            .animate({ opacity: 1, top: '50%' }, 200);
                    });
            });

            $('#modal_close, #overlay').click(function () {
                $('#modal_form')
                    .animate({ opacity: 0, top: '45%' }, 200,
                    function () {
                        $(this).css('display', 'none');
                        $('#overlay').fadeOut(400);
                    });
            });
        });
</script>