<div class="content-wrapper profile-wrapper" data-id="@Model.id">
    <div class="data-column">
        <div class="data-wrapper">
            <div class="data-container tweets-wrapper">
                <div class="profile-tweets"></div>
            </div>
        </div>
    </div>
    <div class="user-info-column">
        <div class="profile-user-info-container">
            <div class="main-image-wrapper">
                <img src="img/avatar.png" class="main-image" />
            </div>
            <div class="profile-user-info">
                <div class="profile-nickname"></div>
                <div class="profile-fullname"></div>
            </div>    
            <div>
                <input type="button" class="pa-button" value="Follow" />       
            </div>
        </div>
    </div>
</div>

<script>
    function updateTweets() {
        $.get("/api/tweets/TweeetsById/" + $(".profile-wrapper").data("id")).done(function (data) {
            let values = data;
            let $tweets = $(".profile-tweets");
            $tweets.html("");
            if (values.status == "true") {
                values.tweets.forEach(function (v) {
                    $tweets.append("<div class=\"feed block-with-shadow\" >" +
                                        "<div class=\"image-wrapper\">" +
                                            "<img class=\"avatar-in-tweet\" src =\"img/avatar.png\">" +
                                        "</div>" +
                                        "<div class=\"not-avatar-part-of-tweet\">" +
                                            "<div class=\"tweet-info\">" +
                                                "<div class=\"nickname-in-tweet\">" +
                                                    v.nickname +
                                                "</div >" +
                                                "<div class=\"tweet-date\">" +
                                                    v.date +
                                                "</div >" +
                                            "</div >" +
                                            "<div class=\"text-in-tweet\">" +
                                                v.text +
                                            "</div >" +
                                        "</div>" +
                                    "</div>");
                });
            } else if (values.status == "empty") {
                $tweets.append("<div class='no-data'><div class='fa fa-clock-o fa-3x'></div><div>Here you will see your tweets</div></div>");
            }
        });
    }

    $(function () {
        $.get("/api/user/" + $(".profile-wrapper").data("id")).done(function (data) {
            $(".profile-nickname").text(data.nickname);
            $(".profile-fullname").text(data.firstName + " " + data.lastName);
        });

        updateTweets();

    });
</script>
