<div class="home-wrapper">
    <div class="pa-input-with-button-wrapper">
        <textarea class="pa-input-with-button" placeholder="What you are thinking about?"></textarea>
        <input type="button" class="pa-button" value="Tell" />
    </div>
    <div class="output" id="feed"></div>
</div>

<script>
    $(function () {
        $.get("/api/tweets").done(function (data) {
            let values = data;
            let $feed = $("#feed");
            $feed.html("");
            values.forEach(function (v) {
                $feed.append("<div class=\"feed\">" +
                                "<div class=\"image-wrapper\">" + 
                                    "<img class=\"avatar-in-tweet\" src =\"img/avatar.png\">" +
                                "</div>" +
                                 "<div class=\"not-avatar-part-of-tweet\">" +
                                     "<div class=\"text-in-tweet\">" +
                                     v +
                                 "</div >" +
                             "</div >");
            });
        });
    });
</script>
