<div class="content-wrapper profile-wrapper">
    <div class="data-column">
        <div class="internal-menu block-with-shadow">
            <div class="internal-menu-item tweets-button active">Tweets</div>
            <div class="internal-menu-item followers-button">Followers</div>
            <div class="internal-menu-item following-button">Following</div>
            <div class="active-elem"></div>
        </div>
        <div class="data-wrapper">
            <div class="data-container tweets-wrapper">
                <div class="pa-input-with-button-wrapper">
                    <textarea class="pa-input-with-button" id="tweetInput" placeholder="What you are thinking about?"></textarea>
                    <input type="button" class="pa-button" id="addTweetButton" value="Tell" />
                </div>
                <div class="profile-tweets"></div>
            </div>
            <div class="data-container followers-wrapper close hidden">
                <div class="pa-search-input-with-button-wrapper">
                    <input type="text" class="pa-search-input-with-button" placeholder="Write your search line here" />
                    <input type="button" class="pa-button" value="Search" />
                </div>
            </div>
            <div class="data-container following-wrapper close hidden">
                <div class="pa-search-input-with-button-wrapper">
                    <input type="text" class="pa-search-input-with-button" placeholder="Write your search line here" />
                    <input type="button" class="pa-button" value="Search" />
                </div>
            </div>
        </div>
    </div>
    <div class="user-info-column">
        <div class="profile-user-info-container">
            <div class="main-image-wrapper">
                <img src="img/avatar.png" class="main-image" />
            </div>
            <div class="profile-user-info">
                <div class="profile-nickname"></div>
                <div class="profile-fullname"></div>
            </div>
        </div>
    </div>
</div>
<script>
    function updateTweets() {
        $.get("/api/tweets/myTweets").done(function (data) {
            let values = data;
            let $tweets = $(".profile-tweets");
            $tweets.html("");
            if (values.status == "true") {
                values.tweets.forEach(function (v) {
                    $tweets.append("<div class=\"feed block-with-shadow\" >" +
                                        "<div class=\"image-wrapper\">" +
                                            "<img class=\"avatar-in-tweet\" src =\"img/avatar.png\">" +
                                        "</div>" +
                                        "<div class=\"not-avatar-part-of-tweet\">" +
                                            "<div class=\"tweet-info\">" +
                                                "<div class=\"nickname-in-tweet\">" +
                                                    v.nickname +
                                                "</div >" +
                                                "<div class=\"tweet-date\">" +
                                                    v.date +
                                                "</div >" +
                                            "</div >" +
                                            "<div class=\"text-in-tweet\">" +
                                                v.text +
                                            "</div >" +
                                        "</div>" +
                                    "</div>");
                });
            } else if (values.status == "empty") {
                $tweets.append("<div class='no-data'>Here you will see your tweets</div>");
            }
        });
    }

    $(function () {
        $(".internal-menu > .internal-menu-item").click(function (e) { 
            if (!$(this).hasClass("active")) {
                $(".internal-menu > .internal-menu-item").removeClass("active");
                $(this).addClass("active");
                $(".active-elem").css("width", $(this).outerWidth());
                $(".active-elem").css("left", $(this).position().left);

                $(".data-container").addClass("close");
                setTimeout(function (elem) {
                    $(".data-container").addClass("hidden");

                    if (elem.hasClass("tweets-button")) {
                        $(".tweets-wrapper").removeClass("close hidden");

                        updateTweets();
                    }

                    if (elem.hasClass("followers-button")) {
                        $(".followers-wrapper").removeClass("close hidden");
                    }

                    if (elem.hasClass("following-button")) {
                        $(".following-wrapper").removeClass("close hidden");
                    }

                }, 300, $(this));
            }
        });

        $(window).resize(function (e) {
            if ($(this).width() > 585) {
                if ($(".content-wrapper").hasClass("profile-wrapper")) {
                    $(".internal-menu > .internal-menu-item.active").addClass("active");
                    $(".active-elem").css("width", $(".internal-menu > .internal-menu-item.active").outerWidth());
                    $(".active-elem").css("left", $(".internal-menu > .internal-menu-item.active").position().left);
                }
            }
        });

        $("#addTweetButton").click(function (e) {
            $.post("/api/tweets", { value: $("#tweetInput").val() }).done(function () {
                updateTweets();
                $("#tweetInput").val("");
            });
        });

        $("#tweetInput").keypress(function (e) {
            if (e.keyCode == 13 && !e.shiftKey) { 
                $.post("/api/tweets", { value: $("#tweetInput").val() }).done(function () {
                    updateTweets();
                    $("#tweetInput").val("");
                });
                return false;
            }
        });

        $(".internal-menu > .internal-menu-item.active").addClass("active");
        $(".active-elem").css("width", $(".internal-menu > .internal-menu-item.active").outerWidth());
        $(".active-elem").css("left", $(".internal-menu > .internal-menu-item.active").position().left);

        $.get("/api/auth").done(function (data) {
            $(".profile-nickname").text(data.nickname);
            $(".profile-fullname").text(data.firstName + " " + data.lastName);

            updateTweets();
        });
    });
</script>
