<div class="content-wrapper profile-wrapper">
    <div class="data-column">
        <div class="internal-menu block-with-shadow">
            <div class="internal-menu-item tweets-button active">Tweets</div>
            <div class="internal-menu-item followers-button">Followers</div>
            <div class="internal-menu-item following-button">Following</div>
            <div class="active-elem"></div>
        </div>
        <div class="data-wrapper">
            <div class="data-container tweets-wrapper">
                <div class="pa-input-with-button-wrapper">
                    <textarea class="pa-input-with-button add-tweet-input" placeholder="What you are thinking about?"></textarea>
                    <input type="button" class="pa-button add-tweet-button" value="Tell" />
                </div>
                <div class="profile-tweets"></div>
            </div>
            <div class="data-container followers-wrapper close hidden">
                <div class="pa-search-input-with-button-wrapper">
                    <input type="text" class="pa-search-input-with-button search-followers-input" placeholder="Write your search line here" />
                    <input type="button" class="pa-button search-followers-button" value="Search" />
                </div>
                <div class="followers-tweets"></div>
            </div>
            <div class="data-container following-wrapper close hidden">
                <div class="pa-search-input-with-button-wrapper">
                    <input type="text" class="pa-search-input-with-button search-following-input" placeholder="Write your search line here" />
                    <input type="button" class="pa-button search-following-button" value="Search" />
                </div>
                <div class="following-tweets"></div>
            </div>
        </div>
    </div>
    <div class="user-info-column">
        <div class="profile-user-info-container">
            <div class="main-image-wrapper">
                <img src="img/avatar.png" class="main-image" />
            </div>
            <div class="profile-user-info">
                <div class="profile-nickname"></div>
                <div class="profile-fullname"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var searchProfileAjax;

    function updateTweets() {
        $.get("/api/tweets/myTweets").done(function (data) {
            let values = data;
            let $tweets = $(".profile-tweets");
            $tweets.html("");
            if (values.status == true) {
                var timezone = new Date().getTimezoneOffset();
                if (values.tweets.length > 0) {
                    values.tweets.forEach(function (v) {
                        var time = new Date(v.date).getTime() - timezone * 60 * 1000;
                        var date = new Date(time);
                        $tweets.append("<div class=\"feed block-with-shadow\" >" +
                            "<div class=\"image-wrapper\">" +
                            "<img class=\"avatar-in-tweet\" src =\"img/avatar.png\">" +
                            "</div>" +
                            "<div class=\"not-avatar-part-of-tweet\">" +
                            "<div class=\"tweet-info\">" +
                            "<div class=\"nickname-in-tweet\">" +
                            v.authorNickname +
                            "</div >" +
                            "<div class=\"tweet-date\">" +
                            date.toLocaleString("ru-UA") +
                            "</div >" +
                            "</div >" +
                            "<div class=\"text-in-tweet\">" +
                            v.text +
                            "</div >" +
                            "</div>" +
                            "</div>");
                    });
                } else {
                    $tweets.append("<div class='no-data'><div class='fa fa-clock-o fa-3x'></div><div>Here you will see your tweets</div></div>");
                }
            } else { 
                console.log(values.message);
            }
        });
    }

    function getFollowers() {
        $.get("/api/follow/followers").done(function (data) {
            let values = data;
            let $followers = $(".followers-tweets");
            $followers.html("");
            if (values.status == true) {
                if (values.followers.length > 0) {
                    values.followers.forEach(function (v) {
                        var follow = v.follow ? "unfollow" : "";
                        $followers.append('<div class="search-result block-with-shadow">' +
                            '<div class="search-image-wrapper">' +
                            '<img src="img/avatar.png" class="search-image" />' +
                            '</div>' +
                            '<div>' +
                            '<div class="search-username">' + v.nickname + '</div>' +
                            '<div class="search-fullname" >' + v.firstName + ' ' + v.lastName + '</div>' +
                            '</div >' +
                            '<div class="follow-button ' + follow + '" data-id="' + v.id + '" onclick="follow(this);">' +
                            '<div class="fa fa-user user-icon"></div>' +
                            '</div>' +
                            '</div>');
                    });
                } else { 
                    $followers.append("<div class='no-data'><div class='fa fa-address-card-o fa-3x'></div><div>Here you will see your followers</div></div>");
                }
            } else {
                console.log(values.message);
            }
        });
    }
    function getFollowing() {
        $.get("/api/follow/following").done(function (data) {
            let values = data;
            let $following = $(".following-tweets");
            $following.html("");
            if (values.status == true) {
                if (values.following.length > 0) {
                    values.following.forEach(function (v) {
                        $following.append('<div class="search-result block-with-shadow">' +
                            '<div class="search-image-wrapper">' +
                            '<img src="img/avatar.png" class="search-image" />' +
                            '</div>' +
                            '<div>' +
                            '<div class="search-username">' + v.nickname + '</div>' +
                            '<div class="search-fullname" >' + v.firstName + ' ' + v.lastName + '</div>' +
                            '</div >' +
                            '<div class="follow-button unfollow" data-id="' + v.id + '" onclick="follow(this);">' +
                            '<div class="fa fa-user user-icon"></div>' +
                            '</div>' +
                            '</div>');
                    });
                } else {
                    $following.append("<div class='no-data'><div class='fa fa-user-plus fa-3x'></div><div>Here you will see your following</div></div>");
                }
            } else {
                console.log(values.message);
            }
        });
    }

    function followersSearch() {
        if ($(".search-followers-input").val().length > 0) {

            if (window.searchProfileAjax) {
                searchProfileAjax.abort();
            }

            searchProfileAjax = $.get("api/search/searchFollowers/" + $(".search-followers-input").val()).done(function (data) {
                let values = data;
                let $followers = $(".followers-tweets");
                $followers.html("");
                if (values.status == true) {
                    if (values.foundPeople.length > 0) {
                        values.foundPeople.forEach(function (v) {
                            var follow = v.follow ? "unfollow" : "";
                            $followers.append('<div class="search-result block-with-shadow">' +
                                '<div class="search-image-wrapper">' +
                                '<img src="img/avatar.png" class="search-image" />' +
                                '</div>' +
                                '<div>' +
                                '<div class="search-username">' + v.nickname + '</div>' +
                                '<div class="search-fullname" >' + v.firstName + ' ' + v.lastName + '</div>' +
                                '</div >' +
                                '<div class="follow-button ' + follow + '" data-id="' + v.id + '" onclick="follow(this);">' +
                                '<div class="fa fa-user user-icon"></div>' +
                                '</div>' +
                                '</div>');
                        });
                    } else { 
                        $followers.append("<div class='no-data'><div class='fa fa-search fa-3x'></div><div>We did not find any users</div></div>");
                    }
                } else {
                    console.log(values.message);
                }
            });
        } else {
            getFollowers();
        }
    }
    function followingSearch() {
        if ($(".search-following-input").val().length > 0) {

            if (window.searchAjax) {
                searchProfileAjax.abort();
            }

            searchProfileAjax = $.get("api/search/searchFollowing/" + $(".search-following-input").val()).done(function (data) {
                let values = data;
                let $following = $(".following-tweets");
                $following.html("");
                if (values.status == true) {
                    if (values.foundPeople.length > 0) {
                        values.foundPeople.forEach(function (v) {
                            $following.append('<div class="search-result block-with-shadow">' +
                                '<div class="search-image-wrapper">' +
                                '<img src="img/avatar.png" class="search-image" />' +
                                '</div>' +
                                '<div>' +
                                '<div class="search-username">' + v.nickname + '</div>' +
                                '<div class="search-fullname" >' + v.firstName + ' ' + v.lastName + '</div>' +
                                '</div >' +
                                '<div class="follow-button unfollow" data-id="' + v.id + '" onclick="follow(this);">' +
                                '<div class="fa fa-user user-icon"></div>' +
                                '</div>' +
                                '</div>');
                        });
                    } else { 
                        $following.append("<div class='no-data'><div class='fa fa-search fa-3x'></div><div>We did not find any users</div></div>");
                    }
                } else {
                    console.log(values.messages);
                }
            });
        } else {
            getFollowing();
        }
    }

    function follow(button) {

        button = $(button);

        if (!button.hasClass("load") && !button.hasClass("success") && !button.hasClass("fail")) {
            button.addClass("load");

            if (button.hasClass("unfollow")) {
                $.post("/api/Follow/unfollow", { targetUser: button.data("id") }, function (response) {
                    button.removeClass("load");
                    if (response.status === true) {
                        button.removeClass("unfollow");
                        button.addClass("success");
                    } else {
                        button.addClass("fail");
                        console.log(response.message);
                    }

                    setTimeout(function (e) { button.removeClass("fail success"); }, 1000);
                });
            } else {
                $.post("/api/Follow", { targetUser: button.data("id") }, function (response) {
                    button.removeClass("load");
                    if (response.status === true) {
                        button.addClass("success");
                        setTimeout(function (e) { button.removeClass("success"); button.addClass("unfollow"); }, 1000);
                    } else {
                        button.addClass("fail");
                        setTimeout(function (e) { button.removeClass("fail"); }, 1000);
                        console.log(response.message);
                    }
                });
            }
        }
    }

    $(function () {

        $(".internal-menu > .internal-menu-item").click(function (e) {
            if (!$(this).hasClass("active")) {
                $(".internal-menu > .internal-menu-item").removeClass("active");
                $(this).addClass("active");
                $(".active-elem").css("width", $(this).outerWidth());
                $(".active-elem").css("left", $(this).position().left);

                $(".data-container").addClass("close");
                setTimeout(function (elem) {
                    $(".data-container").addClass("hidden");

                    if (elem.hasClass("tweets-button")) {
                        $(".tweets-wrapper").removeClass("close hidden");

                        updateTweets();
                    }

                    if (elem.hasClass("followers-button")) {
                        $(".followers-wrapper").removeClass("close hidden");

                        getFollowers();
                    }

                    if (elem.hasClass("following-button")) {
                        $(".following-wrapper").removeClass("close hidden");

                        getFollowing();
                    }

                }, 300, $(this));
            }
        });

        $(window).resize(function (e) {
            if ($(this).width() > 585) {
                if ($(".content-wrapper").hasClass("profile-wrapper")) {
                    $(".internal-menu > .internal-menu-item.active").addClass("active");
                    $(".active-elem").css("width", $(".internal-menu > .internal-menu-item.active").outerWidth());
                    $(".active-elem").css("left", $(".internal-menu > .internal-menu-item.active").position().left);
                }
            }
        });

        $(".add-tweet-button").click(function (e) {
            $.post("/api/tweets", { value: $(".add-tweet-input").val() }).done(function () {
                updateTweets();
                $(".add-tweet-input").val("");
            });
        });
        $(".add-tweet-input").keypress(function (e) {
            if (e.keyCode == 13 && !e.shiftKey) {
                $.post("/api/tweets", { value: $(".add-tweet-input").val() }).done(function () {
                    updateTweets();
                    $(".add-tweet-input").val("");
                });
                return false;
            }
        });

        $(".search-followers-button").click(function (e) {
            followersSearch();
        });
        $(".search-followers-input").keyup(function (e) {
            followersSearch();
        });

        $(".search-following-button").click(function (e) {
            followingSearch();
        });
        $(".search-following-input").keyup(function (e) {
            followingSearch();
        });

        $(".internal-menu > .internal-menu-item.active").addClass("active");
        $(".active-elem").css("width", $(".internal-menu > .internal-menu-item.active").outerWidth());
        $(".active-elem").css("left", $(".internal-menu > .internal-menu-item.active").position().left);

        $.get("/api/auth").done(function (data) {
            $(".profile-nickname").text(data.nickname);
            $(".profile-fullname").text(data.firstName + " " + data.lastName);

            updateTweets();
        });
    });
</script>
