<div class="content-wrapper search-wrapper">
    <div class="pa-search-input-with-button-wrapper">
        <input class="pa-search-input-with-button" type="text" placeholder="Write your search text here">
        <input class="pa-button" type="button" value="search" id="search">
    </div>
    <div class="search-result block-with-shadow">
        <div class="search-image-wrapper">
            <img src="img/avatar.png" class="search-image" />
        </div>
        <div>
            <div class="search-username">COMBACK</div>
            <div class="search-fullname">Dan krot</div>
        </div>
        <input type="button" class="pa-button" value="Follow" />
    </div>

    <div class="search-result block-with-shadow">
        <div class="search-image-wrapper">
            <img src="img/avatar.png" class="search-image" />
        </div>
        <div>
            <div class="search-username">COMBACK</div>
            <div class="search-fullname">Dan krot</div>
        </div>
        <input type="button" class="pa-button" value="Follow" />
    </div>
    <div class="search-result block-with-shadow">
        <div class="search-image-wrapper">
            <img src="img/avatar.png" class="search-image" />
        </div>
        <div>
            <div class="search-username">COMBACK</div>
            <div class="search-fullname">Dan krot</div>
        </div>
        <input type="button" class="pa-button" value="Follow" />
    </div>
    <div class="search-result block-with-shadow">
        <div class="search-image-wrapper">
            <img src="img/avatar.png" class="search-image" />
        </div>
        <div>
            <div class="search-username">COMBACK</div>
            <div class="search-fullname">Dan krot</div>
        </div>
        <input type="button" class="pa-button" value="Follow" />
    </div>
    <div class="search-result block-with-shadow">
        <div class="search-image-wrapper">
            <img src="img/avatar.png" class="search-image" />
        </div>
        <div>
            <div class="search-username">COMBACK</div>
            <div class="search-fullname">Dan krot</div>
        </div>
        <input type="button" class="pa-button" value="Follow" />
    </div>
    <div class="search-result block-with-shadow">
        <div class="search-image-wrapper">
            <img src="img/avatar.png" class="search-image" />
        </div>
        <div>
            <div class="search-username">COMBACK</div>
            <div class="search-fullname">Dan krot</div>
        </div>
        <input type="button" class="pa-button" value="Follow" />
    </div>
    <div class="search-result block-with-shadow">
        <div class="search-image-wrapper">
            <img src="img/avatar.png" class="search-image" />
        </div>
        <div>
            <div class="search-username">COMBACK</div>
            <div class="search-fullname">Dan krot</div>
        </div>
        <input type="button" class="pa-button" value="Follow" />
    </div>
</div>
<script>
    var users = [];
    $(function () {
        $("#search").click(function (e) {
            var data = $(".pa-search-input-with-button").val();
            $.getJSON("api/search", { SearchText: data }).done(function (response) {
                alert(response);
                users = response.Users;
                users.forEach(function (item, i, dat) { 
                    alert(item.Nickname);
                });
            });
        });
    });
</script>
