<div class="content-wrapper">
    <div class="pa-search-input-with-button-wrapper">
        <input class="pa-search-input-with-button" type="text" placeholder="Write your search text here">
        <input class="pa-button" type="button" value="search" id="search">
    </div>
    <div class="pa-search-result block-with-shadow">
        <div class="main-image-wrapper">
            <img src="img/avatar.png" class="main-image" />
        </div>
        <div>
            <p>COMBACK</p>
            <p class="pa-text-small-400">Dan krot</p>
        </div>
        <input type="button" class="pa-button" value="Follow" />
    </div>

    <div class="pa-search-result block-with-shadow">
        <div class="main-image-wrapper">
            <img src="img/avatar.png" class="main-image" />
        </div>
        <div>
            <p>Jack</p>
            <p class="pa-text-small-400">Lisa JackBrown</p>
        </div>
        <input type="button" class="pa-button" value="Follow" />
    </div>

    <div class="pa-search-result block-with-shadow">
        <div class="main-image-wrapper">
            <img src="img/avatar.png" class="main-image" />
        </div>
        <div>
            <p>Krekker228</p>
            <p class="pa-text-small-400">Nikita Pafos</p>
        </div>
        <input type="button" class="pa-button" value="Unfollow" />
    </div>

    <div class="pa-search-result block-with-shadow">
        <div class="main-image-wrapper">
            <img src="img/avatar.png" class="main-image" />
        </div>
        <div>
            <p>otetsdiodor</p>
            <p class="pa-text-small-400">Main Admin</p>
        </div>
        <input type="button" class="pa-button" value="Follow" />
    </div>
</div>
<script>
    var users = [];
    $(function () {
        $("#search").click(function (e) {
            var data = $(".pa-search-input-with-button").val();
            $.getJSON("api/search", { SearchText: data }).done(function (response) {
                alert(response);
                users = response.Users;
                users.forEach(function (item, i, dat) { 
                    alert(item.Nickname);
                });
            });
        });
    });
</script>
