<div class="content-wrapper search-wrapper">
    <div class="pa-search-input-with-button-wrapper">
        <input class="pa-search-input-with-button" id="search-input" type="text" placeholder="Write your search text here">
        <input class="pa-button" type="button" value="search" id="search">
    </div>
    <div class="users-container" id="finded-people"><div class='no-data'><div class='fa fa-address-card-o fa-3x'></div><div>Here you will see the found users</div></div></div>
</div>
<script>

    function follow(button) {

        button = $(button);

        if (!button.hasClass("load") && !button.hasClass("success") && !button.hasClass("fail")) {
            button.addClass("load");

            if (button.hasClass("unfollow")) {
                $.post("/api/Follow/unfollow", { targetUser: button.data("id") }, function (response) {
                    button.removeClass("load unfollow");
                    if (response.status === true) {
                        button.addClass("success");
                    } else {
                        button.addClass("fail");
                        console.log(response.message);
                    }

                    setTimeout(function (e) { button.removeClass("fail success"); }, 1000);
                });
            } else {
                $.post("/api/Follow", { targetUser: button.data("id") }, function (response) {
                    button.removeClass("load");
                    if (response.status === true) {
                        button.addClass("success");
                    } else {
                        button.addClass("fail");
                        console.log(response.message);
                    }

                    setTimeout(function (e) { button.removeClass("fail success"); button.addClass("unfollow"); }, 1000);
                });
            }
        }
    }
    function search() { 
        var data = $("#search-input").val();

        if (window.searchAjax) {
            searchAjax.abort();
        }

        if (data.length > 0) {
            searchAjax = $.get("api/search", { SearchText: data }).done(function (response) {
                let values = response;
                let $dude = $("#finded-people");
                $dude.html("");
                if (values.status === true) {
                    if (values.message == "") {
                        if (values.withFollow) {
                            values.findedPeoples.forEach(function (v) {
                                var follow = v.follow ? "unfollow" : "";
                                var button = "";
                                if (v.followButton) {
                                    button = '<div class="follow-button ' + follow + '" data-id="' + v.id + '" onclick="follow(this);">' +
                                        '<div class="fa fa-user user-icon"></div>' +
                                        '</div>';
                                }

                                $dude.append(
                                    '<div class="search-result block-with-shadow">' +
                                    '<div class="search-image-wrapper">' +
                                    '<img src="img/avatar.png" class="search-image" />' +
                                    '</div>' +
                                    '<div>' +
                                    '<div class="search-username">' + v.nickname + '</div>' +
                                    '<div class="search-fullname" >' + v.firstName + ' ' + v.lastName + '</div>' +
                                    '</div >' +
                                    button +
                                    '</div>'
                                );
                            });
                        } else {
                            values.findedPeoples.forEach(function (v) {
                                $dude.append(
                                    '<div class="search-result block-with-shadow">' +
                                    '<div class="search-image-wrapper">' +
                                    '<img src="img/avatar.png" class="search-image" />' +
                                    '</div>' +
                                    '<div>' +
                                    '<div class="search-username">' + v.nickname + '</div>' +
                                    '<div class="search-fullname" >' + v.firstName + ' ' + v.lastName + '</div>' +
                                    '</div >' +
                                    '</div>'
                                );
                            });
                        }
                    } else { 
                        $dude.append("<div class='no-data'><div class='fa fa-search fa-3x'></div><div>We did not find any users</div></div>");
                    }
                } else {
                    console.log(values.message);
                }
            });
        }
        else {
            $("#finded-people").html("<div class='no-data'><div class='fa fa-address-card-o fa-3x'></div><div>Here you will see the found users</div></div>");
        }
    }
    var users = [];
    $(function ()
    {
        var searchAjax;

        $("#search").click(function (e) {
            search();
        });
        $("#search-input").keyup(function (e) {
            search();
        });
    });
</script>
