<div class="content-wrapper settings-wrapper">
    <div class="form-user-wrapper">
        <form id="user-form" class="form-user block-with-shadow">
            <div class="info-container">
                <label for="Nickname" class="pa-label">Nickname</label>
                <div class="error-info"></div>
            </div>
            <input type="text" name="nickname" class="pa-input" id="Nickname" placeholder="Type your nickname" />

            <div class="info-container">
                <label for="Name" class="pa-label">First name</label>
                <div class="error-info"></div>
            </div>

            <input type="text" name="firstName" class="pa-input" id="Name" placeholder="Type your first name" />
            <div class="info-container">
                <label for="LName" class="pa-label">Last name</label>
                <div class="error-info"></div>
            </div>

            <input type="text" name="lastName" class="pa-input" id="LName" placeholder="Type your last name" />
            <div class="info-container">
                <label for="EMail" class="pa-label">E-Mail</label>
                <div class="error-info"></div>
            </div>
            <input type="email" name="email" class="pa-input" id="EMail" placeholder="Type your e-Mail" />

            <input type="submit" class="pa-button pa-adaptive-button-100" value="Save">
        </form>
    </div>
    <form id="photo-form" class="form-photo">
        <div class="image-preview">
            <img id="preview" class="user-photo" src="img/avatar.png" alt="">
        </div>
        <div class="info-container">
            <div class="avatar-input-wrapper">
                <label for="image" class="pa-button">Change avatar</label>
                <input type="file" class="avatar-input" name="image" id="image">
            </div>
        </div>
    </form>
    <div class="blackout hidden" id="blackout-message">
        <div class="modal-window">
            <p id="messageHead"></p>
            <p id="message"></p>
            <button class="pa-button pa-adaptive-button-100 pa-negative-button" id="blackout-close-message">Cancel</button>
        </div>
    </div>
</div>

<script>
    $(function () {
        $.get("/api/user/data", function (response) {
            $("#Nickname").val(response.nickname);
            $("#Name").val(response.firstName);
            $("#LName").val(response.lastName);
            $("#EMail").val(response.email);
            $.get("/api/user/photo", function (data, status) {
                $('#preview').attr('src', data + "?"+new Date().getTime());
            });
        });

        $('#image').change(function () {
            readImage(this);
            $("#save-image").removeClass("hidden");
            $('#photo-form').submit();
        });
        
        function readImage(input) {
            if (input.files && input.files[0]) {
               var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        };

        $('#user-form').on('submit', (function (e) { 
            var data = $("#user-form").serialize();
            $(".input-area").removeClass("right wrong");
            $(".error-info").text("");
            $.post("/api/user/change", data, function (response) {
    
                var error = document.getElementsByClassName("error-info");

                if (response.nickname == "true") {
                    $("#Nickname").addClass("right");
                } else {
                    $("#Nickname").addClass("wrong");
                    error[0].innerHTML = response.nickname;
                }

                if (response.firstName == "true") {
                    $("#Name").addClass("right");
                } else {
                    $("#Name").addClass("wrong");
                    error[1].innerHTML = response.firstName;
                }

                if (response.lastName == "true") {
                    $("#LName").addClass("right");
                } else {
                    $("#LName").addClass("wrong");
                    error[2].innerHTML = response.lastName;
                }

                if (response.email == "true") {
                    $("#EMail").addClass("right");
                } else {
                    $("#EMail").addClass("wrong");
                    error[3].innerHTML = response.email;
                }

                if (response.status != null) {

                    if (response.status == "true") {
                        $("#messageHead").html("Changes saved!");
                        $("#message").html("Your changes have been saved.");
                        $("#Name").removeClass("right wrong");
                        $("#Nickname").removeClass("right wrong");
                        $("#LName").removeClass("right wrong");
                        $("#EMail").removeClass("right wrong");
                    } else {
                        $("#messageHead").html("Someone is wrong");
                        $("#message").html(response.status);
                    }

                    setTimeout(function () {
                        $("#blackout-message").removeClass("hidden");
                        $("#blackout-message").addClass("active");

                        $(".input-area").removeClass("right wrong");
                        $(".error-info").text("");
                    }, 600);
                    
                }
            }, "json");
            return false;
        }));
        

        $('#photo-form').on('submit', (function (e) {
            var data = new FormData();
            data.append('file', $('#image')[0].files[0]);
             $.ajax({
                    type: "POST",
                    url: '/api/user/photo',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                    },
                    error: function (xhr, status, p3) {
                    }
                });
             return false;
        }));
        
        $("#blackout-close-message").click(function (e) {
            $("#blackout-message").removeClass("active");
            setTimeout(function () { $("#blackout-message").addClass("hidden"); }, 600);
        });
    });

</script>




