<header>
    <div class="logo-wrapper">
        <img class="logo" src="img/Pineapple.png">
        <div class="logo-header">  Pineapple</div>
    </div>
</header>
<div class="main">
    <div class="left-column">
        <div class="medium-header">Home</div>
        <div class="medium-header">Search</div>
        <div class="medium-header">About</div>
        <div class="users-container" id="users">
            <p class="users-head">Last registered users</p>
            @{
                foreach (var user in Model)
                {
                    string status = user.Status == "True" ? "follow" : "";
                    <div class='user-container'>
                        <p class='user-nick'>@user.Nick</p>
                        <div class='follow-button @status' data-id="@user.Id">
                            <div class="fa fa-user user-icon"></div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="center-column">
        <div class="input-wrapper">
            <textarea rows="1" cols="1" class="textInput" placeholder="Write your tweet" id="TXTAREAAddTweet"></textarea>
            <button class="button add-tweet" id="BTNAddTweet">Add tweet</button>
            <button class="button get-tweet" id="BTNGetTweets">Get tweets</button>
        </div>
        <div class="output-wrapper">
            <div class="output" id="feed"></div>
        </div>
    </div>
    <div class="right-column">
        <img class="avatar" src="img/avatar.png">
        <div class="medium-header" id="UserName">
            User Name
        </div>
    </div>
</div>
<footer>© 2018 Pineapple, Inc.</footer>
<script>
    $(function () {
        $("#BTNAddTweet").click(function (e) {            
            $.post("/api/tweets", { value: $("#TXTAREAAddTweet").val()});
        });

        $("#BTNGetTweets").click(function (e) {
            e.preventDefault();
            $.get("/api/tweets").done(function (data) {
                let values = data;
                let $feed = $("#feed");
                $feed.html("");
                values.forEach(function (v) {
                    $feed.append("<div class=\"feed\">" + v + "</div>");
                });
            });
        });

        $(".follow-button").click(function (e) {

            var button = $(this);

            if (!button.hasClass("load") && !button.hasClass("follow") && !button.hasClass("fail")) {
                button.addClass("load");
                $.post("/api/Follow", { targetUser: button.data("id") }, function (response) {
                    button.removeClass("load");
                    if (response == "true") {
                        button.addClass("follow");
                    } else { 
                        button.addClass("fail");
                        console.log(response);
                    }
                });
            }
        });

        $.get("/api/auth", function (data) {
            $("#UserName").text(data.nick);
        });
    });

</script>
