.home-wrapper {
    position: relative;
    left: 30px;
    
}

@media only screen and (max-width: 860px) {
    .image-wrapper {
        position: relative;
        left: 0px;
    }

    .home-wrapper {
        position: relative;
        left: 0px;
        padding: 10px 10px 0px 10px;
        box-sizing: border-box;
    }

    .not-avatar-part-of-tweet {
        padding-left: 10px;
    }
}