.blackout {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-animation: fade_out .6s;
    -moz-animation: fade_out .6s;
    animation: fade_out .6s;
    opacity: 0;
    z-index: 5;
}

.blackout.hidden {
    display: none;
}

.blackout.active {
    opacity: 1;
    -webkit-animation: fade_in .6s;
    -moz-animation: fade_in .6s;
    animation: fade_in .6s;
}

.blackout-close {
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url("../img/close.png");
    background-size: 100%;
    outline: none;
    transition: ease-in-out 0.2s all;
    -o-transition: ease-in-out 0.2s all;
    -moz-transition: ease-in-out 0.2s all;
    -webkit-transition: ease-in-out 0.2s all;
}

.blackout-close:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@-webkit-keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@-moz-keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@-moz-keyframes fade_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes fade_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.modal-window {
    display: block;
    background-color: rgba(255,255,255,1);
    width: 290px;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

@media only screen and (min-width: 600px) {
    .modal-window {
        width: 50%;
    }
}

.modal-window > p:first-of-type {
    text-align: center;
    font-family: Codropsicons, Arial;
    font-size: 28px;
    margin: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(8, 146, 245, 1);
}

.modal-window > p {
    text-align: center;
    font-family: Codropsicons, Arial;
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.error-info {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    font-family: Codropsicons, Arial;
    font-size: 12px;
    color: rgba(200,0,0,1);
    padding-bottom: 5px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.login-error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Codropsicons, Arial;
    font-size: 14px;
    color: rgba(200,0,0,1);
    width: 100%;
    height: 30px;
}

.label-text {
    position: relative;
    bottom: 5px;
    margin-left: 5px;
}

.register-button-wrapper, .login-button-wrapper {
    display: flex;
    justify-content: space-between;
}

.register-button, .login-button {
    position: relative;
    width: 49%;
    height: 30px;
    margin: 10px 0 0 0;
    font-size: 16px;
}

.load-button {
    width: 100%;
    height: 100%;
    margin: 0;
}