.profile-wrapper {
    display: flex;
    flex: 1;
    margin: 0 auto;
    padding-top: 10px;
    max-width: 780px;
}

.data-column {
    display: block;
    width: 70%;
    padding: 0 10px;
    box-sizing: border-box;
}
.internal-menu {
    display: flex;
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    color: rgba(130,130,130,1);
}
.internal-menu > .internal-menu-item {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
    transition: ease 0.2s all;
    -o-transition: ease 0.2s all;
    -moz-transition: ease 0.2s all;
    -webkit-transition: ease 0.2s all;
}
.internal-menu > .internal-menu-item:hover {
    background-color: rgba(250,250,250,1);
}
.internal-menu > .internal-menu-item.active {
    cursor: default;
    color: rgba(2,141,240,1);
}
.internal-menu > .internal-menu-item.active:hover {
    background-color: transparent;
}
.active-elem {
    position: absolute;
    left: 20px;
    bottom: 0;
    height: 3px;
    background-color: rgba(2,141,240,1);
    transition: ease 0.2s all;
    -o-transition: ease 0.2s all;
    -moz-transition: ease 0.2s all;
    -webkit-transition: ease 0.2s all;
}

.data-wrapper {
    display: block;
    position: relative;
    width:100%;
}

.data-container {
    width: 100%;
    opacity: 1;
    -webkit-animation: fade_in .3s;
    -moz-animation: fade_in .3s;
    animation: fade_in .3s;
}
.data-container.hidden {
    display: none;
}
.data-container.close {
    -webkit-animation: fade_out .3s;
    -moz-animation: fade_out .3s;
    animation: fade_out .3s;
    opacity: 0;
}

@-webkit-keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@-moz-keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@-moz-keyframes fade_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes fade_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.user-info-column {
    display: block;
    width: 30%;
}

@media only screen and (max-width: 600px) {

    .profile-wrapper {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .data-column {
        width: 100%;
    }

    .user-info-column {
        width: 100%;
    }
}
