@font-face {
    font-family: Codropsicons;
    src: url("../Fonts/codropsicons.ttf");
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: Impact,Charcoal, sans-serif;
}

header {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
}

.logo{
      width: 80px;
	  vertical-align: middle;
	  margin-left: 65px;
	  float: left;
}

.avatar{
      width: 80%;
	  margin-left: 10%;
}

.logo-header{
	color:#008FD6;
	margin-left: 20px;
	line-height: 140px;
	font-size: 40px;
	vertical-align:middle;
	text-align: left;
	 float: left;
}

.small-header{ 
	color:#008FD6;
	font-size: 20px;
	text-align: right;
	margin-right: 20px;
}

.medium-header {
    color: #008FD6;
    font-size: 30px;
    text-align: center;
}

.main {
    display: flex;
    flex-basis: 100%;
    height: auto;
    margin-bottom: 60px;
}

.left-column {
    flex-basis: 15%;
    height: 100%;
}

.center-column {
    flex-basis: 70%;
}

.right-column {
    flex-basis: 15%;
}

.output {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.get-tweet {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    width: 200px;
    height: 50px;
    margin: 5px auto;
    display: block;
    background-color: #ffffff;
    border: 4px solid #008FD6;
    border-radius: 5px;
    outline: none;
}

    .get-tweet:hover {
        background-color: rgba(240, 240, 240, 1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .get-tweet:active {
        transform: translateY(2px);
    }

.add-tweet {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    width: 15%;
    height: 50px;
    margin: 5px auto;
    background-color: #ffffff;
    border: 4px solid #008FD6;
    border-radius: 5px;
    outline: none;
    vertical-align: middle;
}

    .add-tweet:hover {
        background-color: rgba(240, 240, 240, 1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .add-tweet:active {
        transform: translateY(2px);
    }

textarea {
    float: left;
    width: 55%;
    height: 50px;
    margin: 5px auto;
    margin-left: 15%;
    border: 4px solid #008FD6;
    border-radius: 5px;
    outline: none;
}

.feed {
    width: 100%;
    margin: 7px 0;
    padding: 10px;
    background-color: #f0f0ff;
    border-radius: 5px;
    min-height: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-sizing: border-box;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0px;
}

.button {
    font-family: Codropsicons, Arial;
    font-size: 18px;
    border: 2px solid rgba(8, 146, 245, 1);
    width: 120px;
    height: 35px;
    float: right;
    margin: 10px 20px;
    background-color: rgba(255,255,255,1);
    color: rgba(8, 146, 245, 1);
    outline: none;
    transition: ease-in-out 0.2s all;
    -o-transition: ease-in-out 0.2s all;
    -moz-transition: ease-in-out 0.2s all;
    -webkit-transition: ease-in-out 0.2s all;
}

.button:hover {
    background-color: rgba(8, 146, 245, 1);
    color: rgba(255,255,255,1);
}

.button:active {
    transform: translateY(2px);
    -o-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -webkit-transform: translateY(2px);
}

.message-window {
    display: inline-block;
    background-color: rgba(255,255,255,1);
    width: 290px;
    padding: 20px;
    box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
    .message-window {
        width: 50%;
    }
}

.message-window > p:first-child {
    text-align: center;
    font-family: Codropsicons, Arial;
    font-size: 28px;
    margin: 0;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(8, 146, 245, 1);
}

.message-window > p:last-child {
    text-align: center;
    font-family: Codropsicons, Arial;
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
}

#modal_form {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
}

    #modal_form #modal_close {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        display: block;
    }

#overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.log-in {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    width: 15%;
    height: 50px;
    margin: 5px auto;
    background-color: #ffffff;
    border: 4px solid #008FD6;
    border-radius: 5px;
    outline: none;
    vertical-align: middle;
}

    .log-in:hover {
        background-color: rgba(240, 240, 240, 1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .log-in:active {
        transform: translateY(2px);
    }
